{% extends "BuscadorBundle::baseAdmin.html.twig" %}
{% block content %}
	<div class=row>
    	<div class="col-md-6 col-md-offset-3">
            <h2>Editar etiqueta</h2>
            {% for message in app.session.flashbag().get('status') %}
        		<div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            <table class="table table-hover">
            {# organización de resultados de acuerdo a lo que viene de la query #}
        		<tr>
        			<th{% if pagination.isSorted('u.Nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nombre', 'u.nombre') }}</th>
            		<th>Editar</th>
        		</tr>
        		{# cuerpo de la tabla con los resultados obteniéndolos del result del controller #}
                {% for etiqueta in pagination %}
            	<tr {% if loop.index is odd %}class="color"{% endif %}>
                	<td>{{ etiqueta.nombre }}</td>
                	<td>
            			<a href="{{ path("editar_etiqueta", {"id":etiqueta.id}) }}" class="btn btn-warning">Editar</a>
            		</td>
            	</tr>
                {% endfor %}
        	</table>
        	{# Muestra botones de navegación #}
    		<div class="navigation">{{ knp_pagination_render(pagination) }}</div>
        </div>
    </div>
{% endblock %}